ssd_name=dev-disk-by-uuid-fea752ef-be3b-4eb6-9e8e-2656a2cb74c0
timezone=Europe/Chisinau

domain_name=sex.com

letsencrypt_email=john.smith@sex.com

nas_ip=10.0.0.15
nas_user=filebrowser
nas_password=filebrowser

pihole_password=pihole

front_lan_mask=10.0.0.0/24
front_lan_gateway=10.0.0.1
dns_ip=10.0.0.4
dns2_ip=10.0.0.5
traefic_ip=10.0.0.6